<title>_tonkatsu_のページ</title>
<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
</style>
<link rel="icon" href="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/icon.png?v=1749463611859" type="image/png"/>
<link rel="icon" href="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/icon.ico?v=1749512639750" type="image/x-icon"/>
<iframe src="https://melted-hail-kosmoceratops.glitch.me" style="border: none; margin: 0; height: 100%; width: 100%;" frameborder="0"></iframe>