<footer>
  <div class="footer-inner">
  <div class="option-noUnderline">
    <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      target="_blank"
      class="option-noPadding-underline"
      >CC BY-NC-SA 4.0</a
    >
    <p>
      &copy; _tonkatsu_ /
      <a
        href="https://scratch.mit.edu/users/tonkatsu0211"
        target="_blank"
        class="option-noPadding-underline"
        >tonkatsu0211</a
      >
      All rights reserved.
    </p>
    <p>V1.0.16</p>
  </div>
  </div>
</footer>
</body>
</html>