<%- include("../settings/header") %>
<%- include("../settings/nav") %>

    <div class="main">
      <img
        src="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/access denied.png?v=1750643064496"
        width="1000"
      />
      <h1 id="text">アクセスが拒否されました。</h1>
      <h3>
        チャットサイトで禁止行為を繰り返したか製作者のBANまたは管理者権限の削除を試みたため、BANされました。製作者がBANを解除するまで、チャットサイトは使用できません。
      </h3>
      <h2>
        <button onclick="location.href='/chat?f=ban'" class="warnButton3">
          BANされるようなことをした覚えがない(誤BANかもしれない)場合
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/'" class="blueButton30">
          トップページに戻る
        </button>
      </h2>
    </div>
<%- include("../settings/footer") %>