<%- include("../settings/header") %>
<%- include("../settings/nav") %>
<%- include("../settings/top") %>
  
  <p>
    ※利用規約と言っても、ただのルール的なものです
  </p>
  <br>
  <br>
  <p>
    第1条(目的) <a href="https://tonkatsu0211.glitch.me/chat/main" target="_blank" style="color: #000000;">tonkatsuチャット</a>(以下　当チャット)は、_tonkatsu_(以下　製作者)が運営・管理し、利用者同士の交流を深めるためのコミュニケーションツールです。
  </p>
  <p>
    第2条(禁止行為) 以下の行為は禁止し、もし確認された場合はアカウント削除などの対応を行います。
  </p>
  <p style="padding-left: 20px;">
    第1項 チャットを1秒間に3個以上送信すること。
  </p>
  <p style="padding-left: 20px;">
    第2項 何らかの方法で当チャットを改変し、制限を超えた文字数や頻度のチャットを送信すること。
  </p>
  <p style="padding-left: 20px;">
    第3項 過度に公序良俗に反したチャットを送信すること(ただし、過度でなければ構わない)。
  </p>
  <p style="padding-left: 20px;">
    第4項 特定のユーザーへの誹謗中傷や過度な批判、程度を超えた論争を行うこと。
  </p>
  <p style="padding-left: 20px;">
    第5項 管理者権限を持つユーザーが職権濫用を行い、過度な対応や管理者のみ使用可能なコマンドをみだりに使用すること。
  </p>
  <p style="padding-left: 20px;m">
    第6項 製作者が認めた場合を除き、個人が2つ以上のアカウントを作成、使用すること。
  </p>
  <p style="padding-left: 20px;">
    第7項 何らかの方法で当チャットを改変し、サインアップ時の入力データ(以下　ユーザーデータ)やチャットの送信履歴データ(以下　チャットデータ)を破壊・閲覧・複製・共有・入手・保存・保管のいずれかを行うこと。
  </p>
  <p style="padding-left: 20px;">
    第8項 他ユーザーが作成したアカウントにログインすること。
  </p>
  <p style="padding-left: 20px">
    第9項 管理者権限を持つユーザーが、正当な理由なく、他のユーザーをBANしたり、他のユーザーの管理者権限を削除すること。
  </p>
  <p>
    第3条(制限) 製作者および管理者は、ユーザーデータやチャットデータ、管理者専用コマンドを当チャットの運営・管理・治安の維持のみに使用すること。
  </p>
  <p>
    第4条(報告の義務) 第2条の違反行為を発見した場合は、製作者・管理者に報告を行うこと。
  </p>
  <p>
    第5条(治安維持の義務) 製作者および管理者は、当チャットの治安を維持するために、第2条の違反行為の報告や目撃があった場合は、速やかにBANや管理者権限の削除を行うこと。
  </p>
  <br>
  <p>
    この利用規約は、予告なく変更となる場合がありますが、必ず変更後にチャットで通知します。
  </p>
  <br>
  <br>
  <p>
    2025/6/20 施行
  </p>
  <p>
    2025/6/21 改定(第1訂)
  </p>
  <p>
    2025/6/27 改定(第2訂)
  </p>
  <p>
    2025/6/30 改訂(第3訂)
  </p>
  <br>
  <br>
  <h2>
  <button onclick="location.href='/chat/main'" class="blueButton30">
    チャットページ
  </button>
  <button onclick="location.href='/chat/login'" class="blueButton30">
    ログインページ
  </button>
  <button onclick="location.href='/chat/signup'" class="blueButton30">
    サインアップページ
  </button>
  </h2>
  <br>
  </div>
  
  
<%- include("../settings/footer") %>