<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>

      <p class="caution">
        注意:
        下のボタンを押すと履歴が埋め尽くされます。その際、非常に動作が重くなります。
      </p>
      <p class="caution">
        実行は自己責任です。このプログラムの実行により不利益を被っても責任は負いかねます。
      </p>
      <p class="caution-bold">ほぼほぼマルウェア(いわゆるウイルス)です。</p>
      <p>下のボタンは、全て内容は同じです。ブロックされたとき用に幾つか用意してあります。</p>
      
      <h1 class="warnButton-h1">
        <button
          class="warnButton2"
          onclick="window.open('https://seasoned-inquisitive-shawl.glitch.me/main', '_blank')"
        >
          履歴を破壊-1(seasoned-inquisitive-shawl)
        </button>
        <button
          class="warnButton2"
          onclick="window.open('https://loud-nervous-pecorino.glitch.me/main', '_blank')"
        >
          履歴を破壊-2(loud-nervous-pecorino)
        </button>
        <button
          class="warnButton2"
          onclick="window.open('https://jazzy-harvest-onion.glitch.me/main', '_blank')"
        >
          履歴を破壊-3(jazzy-harvest-onion)
        </button>
        <button
          class="warnButton2"
          onclick="window.open('https://transparent-agate-lycra.glitch.me/main', '_blank')"
        >
          履歴を破壊-4(transparent-agate-lycra)
        </button>
        <button
          class="warnButton2"
          onclick="window.open('https://mesquite-apricot-socks.glitch.me/main', '_blank')"
        >
          履歴を破壊-5(mesquite-apricot-socks)
        </button>
        <button
          class="warnButton2"
          onclick="window.location.href='https://seasoned-inquisitive-shawl.glitch.me/main'"
        >
          新しいタブを開かずに履歴を破壊(seasoned-inquisitive-shawl)
        </button>
      </h1>
    </div>

<%- include("settings/footer") %>