<%- include("settings/header") %>
  
      <img src="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/maintenance.png?v=1750204531926" style="padding-top: 20px;" width="1300">

      <p style="font-size: 20px; padding-left: 20px;">現在チャットシステムの改良中です。完了までしばらくお待ちください。</p>
    </div>
  
  <script>
    document.getElementById("reloadButton").style.display = "none";
  </script>

<%- include("settings/footer") %>