<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
      <p>
        下のボタンを押すと書いてあるゲームをプレイできます。
      </p>
      <p style="color: #ff0000 !important; font-size: 15px; font-weight: bold;">
        ※原則プレイデータは保存されません。
      </p>
      <h2>
        <button onclick="location.href='/games/snow'" class="blueButton30">
          snowball.io をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/stickman-hook'" class="blueButton30">
          stickman hook をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/pingpong'" class="blueButton30">
          Ping-Pong PvP をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/mining'" class="blueButton30">
          Idle mining をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/stickman-boost'" class="blueButton30">
          Stickman Boost をプレイ
        </button>
      </h2>
      <h2>
        <button class="warnButton3">
          99 Balls Evo(現在プレイ不可)
        </button>
      </h2>
      <p>
        クレジット
      </p>
      <p>
        snowball.io: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/snow"
                        target="_blank">
                       https://cottony-accidental-screwdriver.glitch.me/game1/snow/
                     </a>
      </p>
      <p>
        stickman hook: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/stickman"
                          target="_blank">
                         https://cottony-accidental-screwdriver.glitch.me/game1/stickman/
                       </a>,
          <a href="https://precious-zippy-coriander.glitch.me/"
             target="_blank">
            https://precious-zippy-coriander.glitch.me/
          </a>
      </p>
      <p>
        Ping-Pong PvP: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/pingpong"
                          taeget="_blank">
                         https://cottony-accidental-screwdriver.glitch.me/game1/pingpong/
                       </a>
      </p>
      <p>
        Idle mining: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/mining"
                        taeget="_blank">
                       https://cottony-accidental-screwdriver.glitch.me/game1/mining/
                     </a>,
        <a href="https://melted-hail-kosmoceratops.glitch.me/"
           target="_blank">
          https://melted-hail-kosmoceratops.glitch.me/
        </a>
      </p>
      <p>
        Stickman Boost: <a href="https://o.global.ssl.fastly.net/g/assets/stickman-boost/index.html"
                        taeget="_blank">
                       https://o.global.ssl.fastly.net/g/assets/stickman-boost/index.html
                     </a>
      </p>
      <p>
        99 Balls Evo: <a href="https://english.global.ssl.fastly.net/99balls/"
                        taeget="_blank">
                       https://english.global.ssl.fastly.net/99balls/
                     </a>
                      (現在プレイ不可)
      </p>
    </div>

<%- include("settings/footer") %>