<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
      <p>名前(新名義):_tonkatsu_</p>
      <p>別名義:tonkatsu0211</p>
      <p>このサイトの存在意義:不明</p>
      <p>この文章の存在意義:不明</p>
      <p>DARTSLIVEのレーティング:6.23(6/13 19:10現在)</p>
      <p>ぷよぷよテトリス2のレート(テトリスリーグ):1631程度(6/13 19:10現在)</p>
      <p>
        ぷよぷよテトリス2Sのレート:<span id="hiddenPart"
          >Switch2なんかねえよ!!!!ﾊﾞｰｶﾊﾞｰｶ</span
        ><button id="showButton" class="normalButton" onclick="document.getElementById('showButton').style.display = 'none'; document.getElementById('hiddenPart').style.display = 'inline';">
          表示</button
        >(6/13 19:10現在)
      </p>
      <p>TETRIS99のランク:55(6/13 19:10現在)</p>
      <p>TETRIS99でのテト1回数:合計17回(TETRIS99、TETRIS99 VIP、チームバトル　6/13 19:10現在)</p>
      <p>
        主な活動場所(padlet):
        <a
          href="https://padlet.com/taketti/padlet-435ffk9qdakbxqo3?__cf_chl_tk=rYDSq.wQfwi_l.OOU8N3coiIvOqQ1wmPnxs90asQGiA-1749270930-1.0.1.1-265rWQ44VhT8_Ohxuyay1GKPlyujHujkydPoHxBrtKw"
          target="_blank"
          >いろいろ部屋</a
        >
      </p>
    </div>


<%- include("settings/footer") %>