<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
      
      <p style="font-size: 20px; padding-bottom: 0; margin: 0;">
        ※このボタンを押すと各プロジェクトの場所に移動します。
      </p>
        <button class="blueButton30" id="project3Button" onclick="setTimeout(() => document.getElementById('p3Title').scrollIntoView({ behavior: 'smooth' }), 150);" style="padding-top: 0; margin: 0; font-weight: bold !important;">
          素因数分解マン
        </button>
        <button class="blueButton30" id="project2Button" onclick="setTimeout(() => document.getElementById('p2Title').scrollIntoView({ behavior: 'smooth' }), 150);" style="padding-top: 0; margin: 0; font-weight: bold !important;">
          EBM-3.5-turbo
        </button>
        <button class="blueButton30" id="project1Button" onclick="setTimeout(() => document.getElementById('p1Title').scrollIntoView({ behavior: 'smooth' }), 150);" style="padding-top: 0; margin: 0; background-color: #f22020 !important; color: #ffffe8 !important; font-weight: bold !important;">
          【京急】京急パタパタ再現 V1.0.1
        </button>
      <br>
      <br>
        <div class="project3">
        <h2 id="p3Title">素因数分解マン</h2>
        <p class="option-left10-underline">2022/2/21公開 2025/6/25追加</p>
        <br>
        <p class="smallP">
          サムネイルなし
        </p>
        <br>
        <br>
        <button
          class="scratchButton"
          id="p3PreviewButton"
          onclick="p3preview()">
          プレビュー
        </button>
        <iframe 
          data-src="https://scratch.mit.edu/projects/647909217/embed"
          allowtransparency="true"
          width="500"
          height="420"
          frameborder="0"
          scrolling="no"
          class="scPreview"
          id="p3Preview"
          allowfullscreen>
        </iframe>
        <br>
        <br>
        <p>
          素因数分解(?)を行います。
        </p>
        <p>
          p×q(p＜q)の形で結果を表示します。
        </p>
        <p>
          素因数分解と言いつつ、偶数を入れるとqが偶数を返してくるので、素因数分解ではないです()
        </p>
        <h2>
          <button
            class="scratchButton"
            onclick="window.open('https://scratch.mit.edu/projects/647909217', '_blank')"
          >
            Scratchでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://turbowarp.org/647909217?fps=60&interpolate&hqpen&offscreen', '_blank')"
          >
            Turbowarpでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://mirror.turbowarp.xyz/?fps=60&interpolate&hqpen&offscreen#647909217', '_blank')"
          >
            ミラーTurbowarpでプレイ
          </button>
        </h2>
      </div>
      <div class="project2">
        <h2 id="p2Title">EBM-3.5-turbo</h2>
        <p class="option-left10-underline">2024/11/30公開 2025/6/11追加</p>
        <br>
        <p class="smallP">
          サムネイルなし
        </p>
        <br>
        <br>
        <button
          class="scratchButton"
          id="p2PreviewButton"
          onclick="p2preview()">
          プレビュー
        </button>
        <iframe 
          data-src="https://scratch.mit.edu/projects/1104084277/embed"
          allowtransparency="true"
          width="500"
          height="420"
          frameborder="0"
          scrolling="no"
          class="scPreview"
          id="p2Preview"
          allowfullscreen>
        </iframe>
        <br>
        <br>
        <p>
          あなたの好きなバーコードを作れます! 実際のものと同じバーコードが出力されます!
        </p>
        <p>
          お手元に何かしらの商品のバーコードをお持ちいただくと、実際と同じということがわかると思います!
        </p>
        <p>
          (ただし、正直これで楽しむことはあまりできないです)
        </p>
        <p>
          他のプロジェクトに組み込むこともできます。
        </p>
        <h2>
          <button
            class="scratchButton"
            onclick="window.open('https://scratch.mit.edu/projects/1104084277', '_blank')"
          >
            Scratchでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://turbowarp.org/1104084277?fps=60&interpolate&hqpen&offscreen', '_blank')"
          >
            Turbowarpでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://mirror.turbowarp.xyz/?fps=60&interpolate&hqpen&offscreen#1104084277', '_blank')"
          >
            ミラーTurbowarpでプレイ
          </button>
        </h2>
      </div>
      <br>
      <br>
      <div class="project1">
        <h2 id="p1Title">【京急】京急パタパタ再現 V1.0.1</h2>
        <p class="option-left10-underline">2025/6/5公開 2025/6/9追加</p>
        <img
          src="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/patapata.png?v=1749449611231"
          width="500"
        />
        <br>
        <br>
        <button
          class="scratchButton"
          id="p1PreviewButton"
          onclick="p1preview()">
          プレビュー
        </button>
        <iframe 
          data-src="https://scratch.mit.edu/projects/1181550198/embed"
          allowtransparency="true"
          width="500"
          height="420"
          frameborder="0"
          scrolling="no"
          class="scPreview"
          id="p1Preview"
          allowfullscreen>
        </iframe>
        <div class="scPreTutorial" id="p1Tutorial">
          <h3>
            操作方法
          </h3>
          <p>
            z...一段目設定
          </p>
          <p>
            x...二段目設定
          </p>
          <p>
            c...三段目設定
          </p>
          <p>
            a...一段目動作
          </p>
          <p>
            s...二段目動作
          </p>
          <p>
            d...三段目動作
          </p>
          <p>
            ↑...次々発設定&先発発車
          </p>
          <p>
            f...一斉動作
          </p>
        </div>
        <br>
        <br>
        <p>
          京急青物横丁駅に設置されているデジタルパタパタを再現しています!
          turbowarpを使ってフレームレートを変更することで回転速度を調整できます!
        </p>
        <p>
          1段を1スプライトに収めているため、簡単な改造で他のプロジェクトに追加したり、上りと下り3段ずつで6段にすることもできます!
        </p>
        <p>
          さらに、もちろん表示内容のカスタマイズも可能!
          ウソ電を作って楽しむもよし、実際の時刻表と同じ内容を表示して駅員ごっこ(?)をするもよし!
        </p>
        <h2>
          <button
            class="scratchButton"
            onclick="window.open('https://scratch.mit.edu/projects/1181550198', '_blank')"
          >
            Scratchでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://turbowarp.org/1181550198?fps=60&interpolate', '_blank')"
          >
            2倍速でプレイ(Turbowarp)
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://mirror.turbowarp.xyz/?fps=60&interpolate#1181550198', '_blank')"
          >
            2倍速でプレイ(ミラーTurbowarp)
          </button>
        </h2>
      </div>
    </div>

  <button id="toTopButton" class="toTopButton" title="ページの先頭へ戻る">↑</button>

  <script>
    
    window.scrollTo({ top: 0, behavior: 'smooth' });
    
    function p3preview() {
      const p3Pv = document.getElementById("p3Preview");
      p3Pv.src = p3Pv.dataset.src
      p3Pv.style.display = "inline";
      document.getElementById("p3PreviewButton").style.display = "none";
    }
    
    function p2preview() {
      const p2Pv = document.getElementById("p2Preview")
      p2Pv.src = p2Pv.dataset.src
      p2Pv.style.display = "inline";
      document.getElementById("p2PreviewButton").style.display = "none";
    }
    
    function p1preview() {
      const p1Pv = document.getElementById("p1Preview");
      p1Pv.src = p1Pv.dataset.src
      p1Pv.style.display = "inline";
      document.getElementById("p1Tutorial").style.display = "inline";
      document.getElementById("p1PreviewButton").style.display = "none";
    }
    
  const toTopBtn = document.getElementById("toTopBtn");

  window.onscroll = function () {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      toTopButton.style.display = "flex";
    } else {
      toTopButton.style.display = "none";
    }
  };

  toTopButton.onclick = function () {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  };
</script>
  
<%- include("settings/footer") %>