<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>

      <p>
        ⭐️2025/7/9 V1.2.0 CodeSandBoxに移植
      </p>
      <p>
        2025/7/1 V1.0.16 チャットページ改良 Glitchでの最終更新
      </p>
      <p>
        2025/6/30 V1.0.15 チャットページ改良、チャット利用規約改訂(第3訂)
      </p>
      <p>
        2025/6/29 V1.0.14 チャット履歴の名前表示を改良
      </p>
      <p>
        2025/6/27 V1.0.13 チャットページ改良、チャット利用規約改訂(第2訂)、チャット名を「tonkatsuチャット」に設定
      </p>
      <p>
        2025/6/26 V1.0.12 ヘッダー変更
      </p>
      <p>
        2025/6/25 V1.0.11 チャットページ改良、作品ページ更新
      </p>
      <p>
        2025/6/23 V1.0.10 チャットページ改良、チャット画像添付機能追加、チャット文字数制限を300文字に変更、チャット送信を2秒毎に、改行を10回までに制限
      </p>
      <p>
        2025/6/22 V1.0.9 チャットページおよびゲームページのサーバー処理改良
        (ただし、その間チャットページではアクセスできない状態が続いたため、今後はこのようなことがないように細心の注意を払う)
        、チャット文字数制限を200文字に変更、チャットの文字サイズ変更コマンドの上限を40pxに引き上げ
      </p>
      <p>
        2025/6/21 V1.0.8 チャットページ改良、チャット利用規約改訂(第1訂)
      </p>
      <p>
        2025/6/20 V1.0.7 チャットページ改良
      </p>
      <p>
        2025/6/19 V1.0.6 チャットページ改良、チャット利用規約を記載
      </p>
      <p>
        2025/6/18 V1.0.5 チャットページ新設
      </p>
      <p>
        2025/6/17 V1.0.4 「作品」ページにページトップへ移動するボタンと各プロジェクトの位置に移動するボタンを追加、内部ファイル構造を変更、ゲームを追加(PingPong PvP, Idle mining, Stickman Boost, 99 Balls Evo)
      </p>
      <p>
        2025/6/16 V1.0.3 ゲームを開放(snowball.io, stickman hook)、404ページを改良
      </p>
      <p>
        2025/6/11 V1.0.2 URL改良、履歴破壊を5系統の別サイト運用に変更、フッターとヘッダーを1ファイルで共通化、作品ページ更新
      </p>
      <p>
        2025/6/10 V1.0.1
        フッターおよびヘッダー調整、履歴破壊プログラム、トップページ、404ページ追加、ページ更新ボタン追加
      </p>
      <p>2025/6/9 V1.0.0 公開</p>
    </div>

    <p class="option-noUnderline">※情報更新は含まない</p>

<%- include("settings/footer") %>
